---
import Files from "../../layouts/Files.astro";
import { getS3Versions, listFilesInVersion } from "../../lib/artifacts";

export async function getStaticPaths() {
  const versions = await getS3Versions();
  return versions.map((version) => ({
    params: { version },
  }));
}

const { version } = Astro.params;

const files = await listFilesInVersion(version);
const storage = "https://hel1.your-objectstorage.com/ghaf-artifacts";
---

<Files>
  <div class="flex gap-1">
    <a class="text-2xl" href="/">../</a>
    <h1>{version}</h1>
  </div>
  <ul class="mt-4">
    <li>
      <span class="mr-1">📄</span>
      <a href={`https://tiiuae.github.io/ghaf/release_notes/${version}.html`}>
        Release notes
      </a>
    </li>
    <li>
      <span class="mr-1">🔑</span>
      <a href={`/${version}/signature-verification`}>
        Signature verification
      </a>
    </li>
  </ul>
  <h2 class="mt-4 mb-1">Artifacts</h2>
  <ul>
    {
      files.map((f) => (
        <li>
          <a href={`${storage}/${version}/${f}`}>{f}</a>
        </li>
      ))
    }
  </ul>
</Files>
