---
import Files from "../../layouts/Files.astro";
import { getGhafReleases, getArtifactsInRelease } from "../../lib/artifacts";
import { S3_BUCKET, S3_ENDPOINT, S3_REGION } from "../../lib/constants";
import { parseRules } from "../../lib/calver";
import type { Rule } from "../../lib/calver";

export async function getStaticPaths() {
  const releases = await getGhafReleases();
  return releases.map((version) => ({
    params: { version },
  }));
}

const { version } = Astro.params;

const docsRules: Rule[] = [
  {
    range: { min: "23.09", max: "24.06" },
    return: "v1",
  },
  {
    range: { min: "24.09", max: "24.09.2" },
    return: "v2",
  },
  {
    range: { min: "24.09.3", max: null },
    return: "v3",
  },
];

const flashScriptLocations: Rule[] = [
  {
    range: { min: "23.09", max: "24.12.3" },
    return: `https://raw.githubusercontent.com/tiiuae/ghaf/refs/tags/${version}/packages/flash/flash.sh`,
  },
  {
    range: { min: "24.12.4", max: null },
    return: `https://raw.githubusercontent.com/tiiuae/ghaf/refs/tags/${version}/packages/pkgs-by-name/flash-script/flash.sh`,
  },
];

const files = await getArtifactsInRelease(version);
const release = `https://${S3_REGION}.${S3_ENDPOINT}/${S3_BUCKET}/${version}`;
const docsVersion = parseRules(docsRules, version.split("-")[1]);
const flashingScript = parseRules(flashScriptLocations, version.split("-")[1]);

if (docsVersion === null) {
  throw new Error(`${version} does not match any docs rule!`);
}

if (flashingScript === null) {
  throw new Error(`${version} does not match any flashing script rule!`);
}

let links = [
  {
    emoji: "📄",
    label: "Release notes",
    link: `https://ghaf.tii.ae/ghaf/releases/${version.replaceAll(".", "")}`,
  },
  {
    emoji: "🏷",
    label: "Source code",
    link: `https://github.com/tiiuae/ghaf/tree/${version}`,
  },
  {
    emoji: "✅",
    label: "Signature verification instructions",
    link: `/signature-verification/${docsVersion}`,
  },
  {
    emoji: "📜",
    label: "flash.sh",
    link: flashingScript,
  },
];

if (docsVersion === "v1") {
  links.push({
    emoji: "🔑",
    label: "themisto.pub",
    link: "/keys/themisto.pub",
  });
}
---

<Files title={version}>
  <div class="flex gap-1"></div>

  <div class="border-solid border-2 rounded-md p-4">
    <h2>
      <a class="text-white opacity-60 hover:opacity-100" href="/">Releases</a>/{
        version
      }
    </h2>
    <ul class="mt-4">
      {
        links.map((link) => (
          <li class="flex gap-1">
            <span class="w-5 text-center">{link.emoji}</span>
            <a href={link.link}>{link.label}</a>
          </li>
        ))
      }
    </ul>
    <h2 class="mt-4">📦 Artifacts</h2>
    <ul>
      {
        files.map((file) => (
          <li>
            <a href={`${release}/${file}`}>{file}</a>
          </li>
        ))
      }
    </ul>
  </div>
</Files>
